@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:ital,wght@1,800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Signika&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
   
  body {
    font-family: 'Signika', sans-serif;
    background-color: white;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
  }

  @keyframes fadeIn {
      0%{
        transform: scale(.5);
        opacity: 0;
      }
  }
   /* skip content */
.skip-link {
    position: absolute;
    top: -40px;
    left: -40px;
    background-color: #ffffff;
    color: white;
    padding: 8px;
    z-index: 100;
 }
  
 .skip-link:focus {
    top: -100px;
 }
  /*
    AppBar
  */
   
  .app-bar {
    padding: 8px 16px;
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 10px;
    position: sticky;
    top: 0;
    z-index: 3;
    background-color: white;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
  }
   
  .app-bar .app-bar__menu {
    display: flex;
    align-items: center;
  }
   
  .app-bar .app-bar__menu button {
    background-color: #fff;
    border: none;
    font-size: 18px;
    padding: 8px;
    cursor: pointer;
  }
   
  .app-bar .app-bar__brand {
    display: flex;
    align-items: center;
    justify-items: center;
    gap: 16px;
  }
   
  .app-bar .app-bar__brand h1 {
    color: #FF7815;
    /* color: #34B3F1; */
    font-size: 22px;
    user-select: none;
    font-family: 'Source Code Pro', monospace;
  }
   
  .app-bar .app-bar__navigation {
    position: absolute;
    top: -180px;
    left: 150px;
    width: 200px;
    transition: all 0.3s;
    padding: 8px;
    background-color: white;
    overflow: hidden;
  }
   
  .app-bar .app-bar__navigation.open {
    top: 180px;
  }
   
  .app-bar .app-bar__navigation ul li a {
    display: inline-block;
    text-decoration: none;
    color: black;
    font-size: 16px;
    padding: 8px;
    margin-bottom: 5px;
    width: 100%;
    font-family: 'Signika', sans-serif;
  }
  .app-bar .app-bar__navigation ul li a:hover{
    color: #FF7815;
  }
/* hero slider */

.hero{
  padding: 0;
  position: relative;
    
}
.hero .hero__heading{
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: column;
  padding: 2rem;
  background-size: cover !important;
  background-position: center !important;
  min-height: 35rem;
}
.hero .hero__heading .content{
  display: none;
}
.hero .swiper-slide-active .content{
  display: inline-block;
}

.hero .hero__heading .content h3{
  font-size: 1.5rem;
  color: #fff;
  text-transform: uppercase;
  text-shadow: 0 0.3rem .5rem rgba(0, 0, 0, .1);
  animation: fadeIn .3s linear backwards .2s;
}
.hero .hero__heading .content p{
  font-size: 2.5rem;
  color: #fff;
  padding: .5rem 0;
  animation: fadeIn .3s linear backwards .4s;
}
.hero .hero__heading .content a{
  background-color: #FF7815;
  text-decoration: none;
  text-transform: uppercase;
  padding:8px 40px;
  color: #fff;
  font-size: 1rem;
  border-radius: 50px;
  animation: fadeIn .3s linear backwards .6s;
}
.hero .hero__heading .content a:hover{
  background-color: white;
  color: #FF7815;
}
.swiper-button-next,
.swiper-button-prev{
  color: #FF7815;
}
.swiper-button-next:hover,
.swiper-button-prev:hover{
  background-color: #FF7815;
  color: white;
}
.hero__credit {
  position: absolute;
  bottom: 0;
  right: 0;
  color: white;
}
.hero__credit a{
  color: white;
}
.hero__credit a:hover{
  text-decoration: none;
}

/* breakline */
.break-line span{
  padding-top: 16px;
  border-bottom: 2px solid #FF7815;
}
  /*
    Main Content
  */
   
  main {
    padding: 32px;
    flex: 1;
  }
  main h2{
    text-align: center;
  }
   
  .content {
    margin: 0 auto;
    width: 85%;
    padding: 32px;
    padding-bottom: 0;
    min-height: 100%;
  }
   
  .content .content__heading {
    text-align: center;
    font-weight: normal;
  }

  .content .content__subheading {
    text-align: center;
    font-weight: normal;
  }
  .content .content__subheading a{
    text-decoration: none;
  }
   
   
  /*
    Venues
  */
   
  .venue-list {
    display: grid;
    grid-template-columns: 1fr;
    gap: 16px;
    margin: 32px 0;
  }
  .recommendation-list{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 16px;
    margin: 32px 0;
  }
   
   
  /*
    Venue Item
  */
   
  .venue-item {
    width: 100%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    border-radius: 8px;
    overflow: hidden;
    margin-bottom: 20px;
    position: relative;
    transition: transform 0.2s;
  }
  .venue-item:hover {
      box-shadow: 0 2px 8px 2px rgba(181, 180, 184, 0.9);
      transform: translateY(-10px);
  }

  .venue-item__header {
      position: relative;
  }
  .venue-item .box{
    display: flex;
    background-color: rgb(44, 43, 43);
    border-radius: 5px;
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    position: absolute;
    top: 15px;
    right: 15px;
    height: 25px;
  }
  .venue-item__header .venue-item__header__rating{
    color: white;
  }
  .venue-item .venue-item__header .venue-item__header__poster {
      width: 100%;
  }

  .venue-item__content {
      display: grid;
      grid-template-rows: repeat(1);
      align-content: center;
      padding: 16px;
      position: relative;
      gap: 8px;
      margin-bottom: 35px;

  }
  .venue-item__title {
      font-weight: bolder;
      font-size: 20px;
      margin-top: 5px;
      padding: 5px 0;
      transition: 0.3s opacity;
  }
  .venue-item__title > a {
      text-decoration: none;
      color: inherit;
      padding: 13.5px 0;
  }
  .venue-item__title > a:hover{
      color: #FF7815;
  }
  .venue-item__description {
      margin-top: 16px;
      font-size: 14px;
      line-height: 1.5em;
  }
  .venue-item .venue-item__content p {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 4; /* number of lines to show */
    -webkit-box-orient: vertical;
  }
   
  .venue-item  .detailbtn{
    background-color: #FF7815;
    text-decoration: none;
    text-transform: uppercase;
    padding:8px 40px;
    color: #fff;
    font-size: 1rem;
    border-radius: 10px;
    min-width: 50px;
    position: absolute;
    bottom: 5px;
    right: 5px;
    margin-top: 16px;

  }
  .venue-item .detailbtn:hover{
  background-color: rgb(146, 138, 138);
  color: #FF7815;
  }
  /*
    venue
  */
   .venue{
    display: grid;
    grid-template-columns: 1fr;
    gap: 16px;
    margin: 32px auto;
    justify-content: center;
    max-width: 500px;
    min-height: 350px;
   }
  .venue__poster{
    position: relative;
    width: 100%;
    border: 2px solid black;
    border-bottom-style: none;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
  }
  .venue__detail{
    width: 100%;
    box-shadow: 0 8px 12px 0 rgba(5, 5, 5, 0.2);
    border-radius: 8px;
    overflow: hidden;
    margin-bottom: 20px;
  }
  .venue__info .venue__title {
    text-align: center;
    font-weight: bolder;
  }
  .venue__info h4{
    font-size: 1rem;
    font-weight: bold;
  }
   .detail__header{
     color: #FF7815;
   }
   .venue__detail .venue__info{
     border: 2px solid black;
     border-top-style: none;
     border-radius: 0 0 8px 8px;
     padding: 8px 8px;
   }
  /* 
    Testimonial
  */
  .row{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  .small-container{
    max-width: 1080px;
    margin: auto;
    padding: 0 25px;
  }
  .testimonial{
    padding-top: 30px;
  }
  .testimonial .col-3{
    flex-basis: 25%;
    min-width: 250px;
    margin-bottom: 30px;

    text-align: center;
    padding: 40px 20px;
    box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.1);
    transition: transform 0.5s;
    cursor: pointer;
  }
  .testimonial .col-3:hover{
    transform: translateY(-10px);
  }
  .testimonial .col-3 p.text{
    font-size: 12px;
    margin: 12px 0;
    color: #777;
  }
  .testimonial .col-3 p.star{
    color: rgb(245, 245, 38);
  }
  .testimonial .col-3 img{
    width: 50px;
    margin-top: 20px;
    border-radius: 50%;
  }
  .testimonial .col-3 h3{
    font-weight: 600;
    color: #555;
    font-size: 16px;
  }

  .fa.fa-quote-left{
    font-size: 34px;
    color: #FF7815;
  }
   
   
  /*
    Like
  */
  .like {
    font-size: 18px;
    position: fixed;
    bottom: 16px;
    right: 16px;
    background-color: #db0000;
    color: white;
    border: 0;
    border-radius: 50%;
    width: 55px;
    height: 55px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
  }
/* breakline */
  .break-line{
    background-color: #FF7815;
    border: 1px solid #FF7815;
    border-radius: 5px;
  }
  
/* heading color styling */

  h2 span{
    color: #FF7815;
  }
  h3 span{
    color: #FF7815;
  }
  /* icon */

  .fa-sort-desc{
    font-size: 25px;
    color: #555;
  }
  .fa-location-dot{
    color: red;
  }
  .fa-star{
    color: rgb(255, 166, 0);
  }
  .fa-face-smile-wink{
    color: rgb(232, 232, 24);
  }
   .fa-address-book{
    color: rgb(46, 127, 234);
  }
  /* about us */
  .About-Us {
    color: black;
    border-radius: 8px;
  }
  
  .gem-desc {
    color: black;
    margin-top: 20px;
    padding-top: 30px;
    padding-bottom: 15px;
    border-radius: 8px;
    box-shadow: 0 8px 12px 0 rgba(5, 5, 5, 0.2);
    padding-left: 10px;
    padding-right: 10px;
  }

  .gem-desc h3 {
    font-weight: bolder;
    font-size: 2rem;
    text-align: center;
  }

  .gem-desc p{
    padding-top: 15px;
  }

  .kelompok {
    padding-top: 50px;
    padding-bottom: 15px;
  }

  .row{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  .row-profile {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: auto;
    grid-gap: 1rem;
  }

  .row-profile {
    margin: 0 -5px;
  }

  .row-profile:after {
    content: "";
    display: table;
    clear: both;
  }

  .profile-content {
    max-width: 250px;
    padding: 16px;
    text-align: center;
    color: black;
  }
  .profile-content h3{
    position: absolute;
    bottom: 0;
    text-align: center;
  }

  .profile-content img {
    width: 100%;
    object-fit: cover;
    max-width: 400px;
    min-height: 250px;
    max-height: 250px;
    border-radius: 100%;
  }
  .col-4{
    flex-basis: 25%;
    min-width: 250px;
    margin-bottom: 30px;

    text-align: center;
    padding: 40px 20px;
    transition: transform 0.5s;
    cursor: pointer;
  }

  .credits {
    text-align: center;
    color: black;
    margin-top: 20px;
    padding-top: 30px;
    padding-bottom: 15px;
    border-radius: 8px;
    box-shadow: 0 8px 12px 0 rgba(5, 5, 5, 0.2);
    padding-left: 10px;
    padding-right: 10px;
  }

   .credits p a {
       text-decoration: none;   
       color: #FF7815;
    }
   
  /*
    Footer
  */
   
  .footer-basic {
    padding:40px 0;
    color:#4b4c4d;
  }
  
  .footer-basic ul {
    padding:0;
    list-style:none;
    text-align:center;
    font-size:18px;
    line-height:1.6;
    margin-bottom:0;
  }
  
  .footer-basic li {
    padding:0 10px;
  }
  
  .footer-basic ul a {
    color:inherit;
    text-decoration:none;
    opacity:0.8;
    font-family: 'Signika', sans-serif;
  }
  
  .footer-basic ul a:hover {
    color: #FF7815;
  }
  
  .footer-basic .social {
    text-align:center;
    padding-bottom:25px;
  }
  
  .footer-basic .social > a {
    font-size:24px;
    width:40px;
    height:40px;
    line-height:40px;
    display:inline-block;
    text-align:center;
    border-radius:50%;
    border:1px solid #ccc;
    margin:0 8px;
    color:inherit;
    opacity:0.75;
  }
  
  .footer-basic .social > a:hover {
    color: #FF7815;
  }
  
  .footer-basic .copyright {
    margin-top:15px;
    text-align:center;
    font-size:13px;
    color:#aaa;
    margin-bottom:0;
  }
